@media screen and (max-width: 800px) {
  body {
    align-items: flex-start;
    padding: 48px 0;
  }

  header, main {
    width: 320px;
  }

  html { height: auto; }

  .log {
    display: block;
    float: left;
    margin-left: 0;
    margin-top: 36px;
    width: 320px;
    clear: left;
    position: relative;
    right: auto;
    top: autol
  }
}

@media screen and (max-width: 488px) {
  .theme-settings {
    position: static;
  }
}

@media screen and (max-height: 652px) {
  html { height: auto; }
}