.ultraviolet {
  background: #36187a;   
  background: linear-gradient(336deg, rgb(101, 136, 255), rgba(54, 24, 122, 0) 85%),
              linear-gradient(127deg, rgb(170, 124, 253), rgba(46, 35, 66, 0) 65%),
              linear-gradient(217deg, rgb(110, 77, 163), rgba(110, 77, 163, 0) 85%),
              linear-gradient(180deg, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0) 115%);
}

.dream-on-neon-bright {
  background: #7F00FF;
  background: linear-gradient(126deg, #d400ff, #ff0062);
}

.tequila-sunrise-bright {
  background: #f05550;
  background: linear-gradient(0, rgb(240, 85, 80), rgba(240, 85, 80, 0)),
              linear-gradient(120deg, rgb(255, 198, 74), rgba(255, 198, 74, 0)),
              linear-gradient(240deg, rgb(255, 115, 0), rgba(255, 115, 0, 0));           
}

.macintosh {
  background: #FDFC47;
  background: linear-gradient(100deg, rgba(255, 131, 3, 0.6), rgba(255, 131, 3, 0.4) 72%),
              linear-gradient(-20deg, rgb(138, 214, 37), rgba(129, 207, 27, 0)),
              linear-gradient(220deg, rgb(20, 177, 14), rgba(18, 82, 16, 0.4) 86%);  
}

.miss-mango-bright {
  background: #f09819;
  background: linear-gradient(140deg, #edde5d, #f09819);
}

.seattle-bright {
  background: linear-gradient(to bottom right, #b4c9d1, #9abfdd);
}

.slate {
  background: #292c52;
  background: linear-gradient(to top right, #8e8e8e, #6b89b9);
}

/* for brighter themes: */

body[class*="bright"] output {
  background-color: rgba(255, 255, 255, 0.2);
  border: 2px solid rgba(255, 255, 255, 0.4);
}

body[class*="bright"] .warning {
  border-color: rgba(255, 122, 122, 0.5);
}

body[class*="tequila"] .warning {
  border-color: #ff7f6b;
}

body[class*="neon"] .warning {
  border-color: #f03a3a;
}

body[class*="bright"] main button {
  border-top: 2px solid rgba(255, 255, 255, 0.4);
  border-left: 2px solid rgba(255, 255, 255, 0.4);
}

body[class*="bright"] main button:hover {
  background-color: rgba(255, 255, 255, 0.2);
  border-color: rgba(255, 255, 255, 0.2);
}

body[class*="bright"] .grouping,
body[class*="bright"] .numbers {
  border-bottom: 2px solid rgba(255, 255, 255, 0.4);
  border-right: 2px solid rgba(255, 255, 255, 0.4);
}

body[class*="bright"] .equals {
  background-color: rgba(255, 255, 255, 0.2);
  border-color: rgba(255, 255, 255, 0.2);
}

body[class*="bright"] .clear {
  background-color: rgba(255, 255, 255, 0.2);
  border: 2px solid rgba(255, 255, 255, 0.2);
}

body[class*="bright"] .operators {
  border-bottom: 2px solid rgba(255, 255, 255, 0.4);
  border-right: 2px solid rgba(255, 255, 255, 0.4);
}

body[class*="bright"] .operators button {
  background-color: rgba(255, 255, 255, 0.2);
  border-color: rgba(255, 255, 255, 0.2);
}

body[class*="bright"] .operators button:hover,
body[class*="bright"] .clear:hover,
body[class*="bright"] .equals:hover {
  background-color: rgba(255, 255, 255, 0.4);
  border-color: rgba(255, 255, 255, 0);
}

body[class*="bright"] .trig,
body[class*="bright"] .exponential {
  border-bottom: 2px solid rgba(255, 255, 255, 0.4);
  border-right: 2px solid rgba(255, 255, 255, 0.4);
}

body[class*="bright"] .theme-settings {
  color: rgba(255, 255, 255, 0.3);
}

body[class*="bright"] .github {
  color: rgba(255, 255, 255, 0.3);
}

body[class*="bright"] .log h2 {
  background-color: rgba(255, 255, 255, 0.4);
}

body[class*="bright"] .log ul {
  border: 2px solid rgba(255, 255, 255, 0.4);
}

body[class*="bright"] .log .entry {
  border-bottom: 1px solid rgba(255, 255, 255, 0.4);
}

body[class*="bright"] .log .entry:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

body[class*="bright"] .log .answer {
  background-color: rgba(255, 255, 255, 0.3);
  box-shadow: 0 1px rgba(0, 0, 0, 0.1);
}

body[class*="bright"] .settings button {
  background-color: rgba(255, 255, 255, 0.2);
  border-color: rgba(255, 255, 255, 0.2);
}

body[class*="bright"] .settings button:hover {
  background-color: rgba(255, 255, 255, 0.4);
  border-color: rgba(255, 255, 255, 0);
}

body[class*="bright"] .theme-settings,
body[class*="bright"] .github {
  color: rgba(255, 255, 255, 0.6);
}

body[class*="bright"] .theme-settings:hover,
body[class*="bright"] .github:hover {
  color: rgba(255, 255, 255, 0.8);
}

body[class*="bright"] .calculator .react-toggle-track {
  width: 40px;
  height: 18px;
  padding: 0;
  border-radius: 30px;
  background-color: rgba(255, 255, 255, 0.3);
  -webkit-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

body[class*="bright"] .calculator .react-toggle:hover:not(.react-toggle--disabled) .react-toggle-track {
  background-color: rgba(255, 255, 255, 0.4);
}